<div class="row">
  <div class="col-md-4">
    <% @products1.each do |product| %>
      <div class="product">
        <%= image_tag(product.image) %>
        <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
        <h4><%= number_to_currency(product.price) %></h4>
        <p><%= product.description %></p>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% @products2.each do |product| %>
      <div class="product">
        <%= image_tag(product.image) %>
        <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
        <h4><%= number_to_currency(product.price) %></h4>
        <p><%= product.description %></p>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
  <% @products3.each do |product| %>
      <div class="product">
        <%= image_tag(product.image) %>
        <h3><a href="/products/<%= product.id %>"><%= product.name %></a></h3>
        <h4><%= number_to_currency(product.price) %></h4>
        <p><%= product.description %></p>
      </div>
    <% end %>
  </div>
</div>








