<!DOCTYPE html>
<html>
<head>
  <title>AcltcMiniCapstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 class="title">Land Mall</h1>
    <p class="tag">everything you could ever need under one roof-puter.</p>

    <div class="row">
      <div class="col-md-2">
        <ul class="nav">
          <%= link_to 'home', '/' %>
        </ul>
      </div>
      <div class="col-md-4">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
