<!DOCTYPE html>
<html>
<head>
  <title>AcltcMiniCapstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="header">
    <h1 class="title">Land Mall</h1>
    <p class="tag">Stay Grounded with Land-Mall</p>
    </div>
    <div class="col-md-2">
      <ol class="nav aside">
        <li><%= link_to 'home', '/' %></li>
        <li><%= link_to 'orders', '/' %></li>
        <li><%= link_to 'returns', '/' %></li>
        <li><%= link_to 'complaints', '/' %></li>
      </ol>
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>
    <div class="col-md-2">







      <h3>Jump to Product</h3>

      <%= form_tag '/', method: :post do %>
      <%= label_tag :id %>
      <%= text_field_tag :id %>
      <%= submit_tag 'Go to' %>

      <% end %>













    </div>
  </div>
</body>
</html>
